.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0;
  padding: 0;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', 'Arial', sans-serif; 
}
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  margin: 0;  
  padding: 0;
}
.header_title {
  max-width: 730px;
  font-size: 102px;
  line-height: 96px;
  font-weight:bold;
  z-index: 1;
  padding-left: 64px;
  
  }
.header_subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  max-width: 388px;
  font-size: 18px;
  z-index: 1;
}
/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top:64px;
  right:0px; 
  z-index: -1;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  max-width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 1;
}
.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}
.header__link {
color:#2f80ed;
}
.main-illustration {
  width:765px;
  height:608px;
  position: absolute;
  bottom: 0;
  right: 0;
  }
  .description {
  margin-top:100px;
  margin-bottom:100px;
    }
  .two-columns {
  width: 80%;
  margin:auto;
  display:flex;
  justify-content:space-between;
  
  }
  .two-colums__brief{
  width:175px;
  font-size: 18px;
  color:#2f80ed;
  line-height: 1.2;
  margin: 0;
  }
  .two-columns__main-text {
  width:80%;
  min-width: 784px;
  
  }
  .two-columns__paragraph:nth-of-type(3n) {
    margin-bottom: 0px;
  }
  .two-columns__span-accent {
  font-weight: bold;
  } 
  .two-columns__paragraph {
    font-size: 24px;
    line-height: 34px;
    margin-top: 0;
    margin-bottom: 30px;
  }
.digits {
  padding-top: 100px;
  padding-bottom: 100px;
}
.section-title {
  margin:0 auto 20px auto ;
  width:60%;
  text-align: center;
  font-size: 60px;
  line-height: 1.2;
  font-weight: bold;
  
}
.section-subtitle {
  width:60%;
  margin: 20px auto 0 auto;
  text-align: center;  
  font-size: 24px;
  line-height: 34px;
} 

.table {
  width: 1100px;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;    
}
.table__cell {
  width:250px;
  margin-top: 60px;
  text-align: left;
  
}
.table__heading {
  margin:0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  
}
.table__text {
margin-top: 20px;
margin-bottom: 0px;
line-height: 1.2;
font-size: 18px;
}
.feynman {
  padding-top: 100px;
  height: 790px;
  background: url(/images/feynman.png) 867px 637px no-repeat;
  background-position-x: left;
  background-position-y:bottom;
  position: relative;
  
  }
.feynman__title {
max-width:648px;
margin: 0 auto 0;
font-size: 120px;
font-weight: bold;
line-height: 1.15;
text-align: center;
}
.feynman__subtitle {
  margin-top: 70px;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal; 
  text-align: center;
}
.feynman__link {
  font-size: 36px;
  line-height: 51px;
  color: #2f80ed;
  text-decoration: none;
  position: absolute;
  right: 48px;
  top:50%;
}
.kaufman {
display: flex;
flex-direction: column;
padding-top: 90px;
padding-bottom: 90px;
overflow: hidden;
background-color: #212121;
color: white;
position: relative;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  position:absolute;
  right: -210px;
  top:0;
  background-size: cover;
  background-position: center;
  z-index: 0;
}
.footer {
  display: flex;
  background-color: #212121;
  min-height:350px;
  margin: 0;
}
.footer__column_content_social {
  display: flex;
  flex-direction: column;
}
.footer__columns {
  display:flex;
  justify-content: space-between;
  margin: 60px auto 40px auto;
  min-height: 250px;
  width: 90%;
  
}
.footer__column-links {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  line-height: 30px;
  font-size: 18px;
}
.footer__column-link {
  color: #cccccc;
  text-decoration: none;
  display: flex;
}
.footer__column-heading {
  margin-bottom: 20px;
  margin-top: 0px;
  line-height: 30px;
  font-size: 18px;
  color: #fffbfbe3;
}
.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
}
.footer__author {
  margin-top: 18px;
  margin-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
  color: #fffbfbe3;
}
.footer__social-icon {
  height:16px;
  width: 16px;
  margin: auto 10px auto 0;
}
